/* Account.css */

.account-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 50px; /* Reduced padding */
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-section {
  margin-bottom: 10px; /* Reduced margin */
  text-align: center; /* Center text within the upload section */
}

.upload-section input {
  margin-bottom: 5px; /* Reduced margin */
}

.avatar {
  border-radius: 50%;
  width: 80px; /* Reduced width */
  height: 80px; /* Reduced height */
  object-fit: cover;
  margin-bottom: 10px; /* Reduced margin */
}

.user-details {
  text-align: center;
}

.profile {
  background-color: #3498db;
  color: #fff;
  padding: 8px 15px; /* Reduced padding */
  border: none;
  border-radius: 5px;
  margin-top: 8px; /* Reduced margin */
  cursor: pointer;
}

.profile:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}

.acc-label {
  font-weight: bold;
  margin-right: 5px;
}

/* Media Query for Small Devices (up to 767px width) */
@media only screen and (max-width: 767px) {
  .account-page {
    padding: 20px; /* Adjusted padding for small screens */
  }

  .avatar {
    width: 60px; /* Further reduced width for small screens */
    height: 60px; /* Further reduced height for small screens */
    margin-bottom: 5px; /* Adjusted margin for small screens */
  }

  .profile {
    padding: 5px 10px; /* Adjusted padding for small screens */
    margin-top: 5px; /* Adjusted margin for small screens */
  }

  .upload-section {
    justify-content: center; /* Center content within the upload section */
    text-align: center; /* Center text within the upload section */
  }
  .input-upload-file{
    margin-left: 50px;
    margin-right: auto;
  }
}  

@media only screen and (max-width: 767px) {
  .user-details p {
    margin: 5px 0; /* Add margin for better spacing */
  }
  .acc-label {
    display: none; /* Hide labels on small devices */
  }
}
