/* Filter.css */

.search-filter {
  background-color: rgba(255, 255, 255, 0.7); /* Slightly opaque white background */
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #eed9d1; /* Border color for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
  overflow-y: auto;
}

.search-filter__header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px; /* Padding for the heading */
  background-color: #eed9d1; /* Background color for the heading */
  color: #000; /* Text color for the heading */
  border-radius: 6px; /* Border radius for the heading */
}

.search-filter__form {
  display: flex;
  flex-direction: column;
}

.search-input {
  margin-bottom: 30px; /* Increased margin for better separation */
}

.search-filter__label {
  font-size: 16px;
}

.search-filter__radio-input {
  margin-right: 5px;
  height: 16px; /* Adjusted height for better alignment */
}

.search-filter__radio-label {
  margin-right: 15px;
}

.search-filter__text {
  font-size: 14px;
  margin-bottom: 10px; /* Adjusted margin for better spacing */
}

.search-filter__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da; /* Bootstrap default border color */
  border-radius: 6px;
}

.serch-filter__sub-container {
  margin-top: 20px;
}

.search-filter__button-container {
  margin-top: 25px;
  text-align: center;
}

.secondary-button {
  background-color: #073b4c; 
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.secondary-button:hover {
  background-color: #004e64;
}

