/* Findpet.css */
.findpet {
  width: 50%;
  height: auto;
  display: inline;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  font-size: 32px;
  font-weight: medium;
  z-index: 2;
}
.get-started {
  background-color: #073b4c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0a546c;
  }
}
@media (max-width: 768px) {
  .findpet {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    font-size: 32px;
    font-weight: medium;
  }

  .find-pet {
    flex-direction: column;
    justify-content: center; /* Center buttons vertically */
  }
}
