/* MapComponent.css */
.map-container {
  width: 100vw;
  max-height: 500px; /* Set a maximum height for the map container */
  padding: 0;
  position: relative;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%; /* Allow the image's height to adjust proportionally to its container */
  display: block;
  max-width: 100%; /* Set a maximum width for the map */
  max-height: 100%; /* Set a maximum height for the map */
}
