.card-img-top {
    max-height: 200px; /* Adjust the image height as needed */
  }
  
  /* Style for the card title */
  .card-title {
    font-size: 1.5rem;
  }
  
  /* Style for the card text */
  .card-text {
    font-size: 1rem;
  }
  
  .petcard-btn {
    background-color: #007bff; /* Set the background color */
    border: none; /* Remove border */
    color: #fff; /* Set text color to white */
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 5px; /* Add some border radius for rounded corners */
    transition: background-color 0.3s; /* Add a smooth transition effect */
  
    /* Optional: Hover effect */
    &:hover {
      background-color: #0056b3; /* Change the background color on hover */
    }
  }
  /* Adjust other styles as needed */
  
  .pet-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 99vw;
  }
/* PetCards.css */

/* Style for the pet cards */
/* PetCards.css */

/* Style for the pet cards */
.pet-card {
  background-color: white;
  flex: 1; /* Make the card occupy available width */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%; /* Ensure full width within flex container */
  z-index: 2;
}
.card-img-top {
  width: 100%; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio while filling the container */
}


@media screen and (max-width: 768px) {
  .pet-cards-container{
    flex-direction: column;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
  }
  .pet-card {
    width: 100%;
  }
  
}