/* ReportedPets.css */

/* Style for the reported pets container */
.reported-pets {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
}

/* Style for the view all link */
.view-all-link {
  align-self: flex-start; /* Align link to the right within the container */
  margin-bottom: 10px; /* Add some bottom margin for separation */
  color: #000;
}

/* Style for the pet cards container within ReportedPets */
.pet-cards-container {
  flex: 1; /* Take up remaining available vertical space */
}
